[submodule "mshadow"]
	path = mshadow
	url = https://github.com/dmlc/mshadow.git
[submodule "dmlc-core"]
	path = dmlc-core
	url = https://github.com/dmlc/dmlc-core.git
[submodule "ps-lite"]
	path = ps-lite
	url = https://github.com/dmlc/ps-lite
[submodule "poseidon"]
	path = poseidon
	url = https://github.com/zuowang/poseidon.git
[submodule "ps"]
	path = ps
	url = https://github.com/zuowang/ps.git
[submodule "MXNet.cpp"]
	path = MXNet.cpp
	url = https://github.com/dmlc/MXNet.cpp.git
[submodule "third_party"]
	path = third_party
	url = https://github.com/petuum/third_party.git
[submodule "bosen"]
	path = bosen
	url = https://github.com/zuowang/bosen.git
